<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.gwj.jnshu.dao.StudentDao">
    <!--<resultMap id="studentMap" type="com.gwj.jnshu.entities.Student">-->
        <!--<result property="createBy" column="create_by"/>-->
        <!--<result property="createAt" column="create_at"/>-->
        <!--<result property="studentName" column="student_name"/>-->
        <!--<result property="isWorking" column="is_working"/>-->
        <!--<result property="studentPosition" column="student_position"/>-->
        <!--<result property="updateBy" column="update_by"/>-->
        <!--<result property="updateAt" column="update_at"/>-->
    <!--</resultMap>-->

    <!--增加-->
    <insert id="addStudent" parameterType="com.gwj.jnshu.entities.Student">
        INSERT INTO tb_student(create_by,create_at,student_name,is_working,student_position,summary,update_by,update_at)
        VALUES(#{createBy},#{createAt},#{studentName},#{isWorking},#{studentPosition},#{summary},#{updateBy},#{updateAt})
    </insert>

    <!--删除-->
    <delete id="deleteStudent" parameterType="long">
        DELETE FROM tb_student WHERE id = #{id}
    </delete>

    <!--修改-->
    <update id="updateStudent" parameterType="com.gwj.jnshu.entities.Student">
        UPDATE tb_student SET create_by=#{createBy},create_at=#{createAt},student_name=#{studentName},is_working=#{isWorking},
        student_position=#{studentPosition},summary=#{summary},update_by=#{updateBy},update_at=#{updateAt} WHERE id=#{id}
    </update>

    <!--查找-->
    <select id="getStudent" parameterType="long" resultType="com.gwj.jnshu.entities.Student">
        SELECT * FROM tb_student WHERE id = #{id}
    </select>

    <!--查询所有-->
    <select id="getAllStudent" resultType="com.gwj.jnshu.entities.Student">
        SELECT * FROM tb_student
    </select>

</mapper>